* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body);
    background: var(--white);
    color: var(--text-body);
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}
