.site-footer {
    margin-top: 40px;
    padding: 0;
    width: 100%;
}

.footer-overlay {
    width: 100%;
    min-height: 420px;
    border-radius: 0;

    background:
        linear-gradient(
            to bottom,
            rgba(16, 44, 58, 0.72),
            rgba(16, 44, 58, 0.36)
        ),
        url("/images/backgound-footer.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 70px 0 28px;
    overflow: hidden;
}

.footer-menu h6,
.footer-menu a,
.footer-bottom span {
    letter-spacing: 0.5px;
}

.footer-menu h6 {
    color: white;
    font-size: 18px;
    font-weight: var(--font-weight-extrabold);
    letter-spacing: var(--letter-spacing-heading-snug);
    margin-bottom: 18px;
}

.footer-menu a {
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,0.78);
    font-size: 15px;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body-relaxed);
    margin-bottom: 12px;
    transition: 0.25s ease;
}

.footer-menu a:hover {
    color: white;
    transform: translateX(4px);
}

.footer-bottom {
    margin-top: 120px;
    display: flex;
    gap: 22px;
    align-items: center;
    color: rgba(255,255,255,0.68);
    font-size: 13px;
    font-weight: var(--font-weight-medium);
}
@media (max-width: 768px) {
    .site-footer {
        padding: 0 18px 28px;
    }

    .footer-overlay {
        border-radius: 28px;
        padding: 50px 0 26px;
    }

    .footer-bottom {
        margin-top: 60px;
        flex-wrap: wrap;
    }
}